@model IEnumerable<FerreteriaProMAX02.Models.Role>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de Roles</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn btn-info">
        Crear Nuevo Rol
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr class="steven">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdRoles }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdRoles }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdRoles })
        </td>
    </tr>
}

</table>
