@model IEnumerable<FerreteriaProMAX02.Models.Venta>

@{
    ViewBag.Title = "Index";
}

<h2>Buscar venta</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn btn-info">
        Crear Nuevo
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr class="steven">
        <th>
            <span>Fecha de Venta</span>
            @*@Html.DisplayNameFor(model => model.fecha)*@
        </th>
        <th>
            <span>Nombre Empleado</span>
            @*@Html.DisplayNameFor(model => model.Empleado)*@
        </th>
        <th>
          <span>Nombre del cliente</span>
           @* @Html.DisplayNameFor(model => model.Persona)*@
            </a>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Persona.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdVenta }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdVenta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdVenta })
        </td>
    </tr>
}

</table>
