@model IEnumerable<FerreteriaProMAX02.Models.Persona>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de Personas</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn btn-info">
        Crear Nueva Persona
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr class="steven">
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            <span>Nombre</span>
            @*@Html.DisplayNameFor(model => model.nombre)*@
        </th>
        <th>
            <span>Primer Apellido</span>
            @*@Html.DisplayNameFor(model => model.Primer_Apellido)*@
        </th>
        <th>
            <span>Segundo Apellido</span>
            @*@Html.DisplayNameFor(model => model.Segund_Apellido)*@
        </th>
        <th>
            <span>Fecha Nacimiento</span>
            @*@Html.DisplayNameFor(model => model.Fecha_nacimiento)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            <span>Dirección</span>
            @*@Html.DisplayNameFor(model => model.Direccion)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segund_Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idPersona }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idPersona }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idPersona })
        </td>
    </tr>
}

</table>
