@model IEnumerable<FerreteriaProMAX02.Models.Marca>

@{
    ViewBag.Title = "Index";
}

<h2>Crear Marca </h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn btn-info">
        Crear Marca
        <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
    </a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr class="steven">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdMarca }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdMarca }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.IdMarca })
        </td>
    </tr>
}

</table>
