@model IEnumerable<FerreteriaProMAX02.Models.TipoPago>

@{
    ViewBag.Title = "Index";
}

<h2>Tipo de Pagos</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn btn-info">
        Nuevo Tipo de pago
        <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
    </a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr class="steven">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentarios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentarios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdPago }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdPago }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdPago })
        </td>
    </tr>
}

</table>
