@model FerreteriaProMAX02.Models.DetalleRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaMOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO_LOGIN.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO_LOGIN.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_DetalleRoles }) |
    @Html.ActionLink("Back to List", "Index")
</p>
