@model IEnumerable<FerreteriaProMAX02.Models.Factura>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de Factura</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn btn-info">
        Crear Nueva Factura
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr class="steven">
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venta.IdVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venta1.IdVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPago.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venta.IdVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venta1.IdVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPago.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdFactura }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdFactura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdFactura })
        </td>
    </tr>
}

</table>
